* {
box-sizing: border-box;}
body {
font-family: calibri, geneva, candara, sans-serif;
background-color: #F8F8FF}
h1 {
text-align: center;
margin-bottom: 30px;}
div {
float: left;}
section {
background-color: #FFFFE0;
margin: 10px;
padding: 0px 0px 0px 10px;
border: 2.5px solid #000000;}
h2 {
color: #FFFFFF;
border-left: 2.5px solid #000000;
border-bottom: 2.5px solid #000000;
font-size: 20px;
padding: 5px 20px 5px 20px;
margin: 0px;
float: right;}
p {
font-size: 17.5px;
padding: 5px 5px 2.5px 5px;
margin: 5px;
text-align: left;
clear: right;}
.HS h2{
background-color: #4682B4;}
.ME h2{
background-color: #CD5C5C;}
.DR h2{
background-color: #2E8B57;}
/* desktop */
@media (min-width: 992px)
{.HS, .ME, .DR {width: 33.33%;} }
/* tablet */
@media (max-width: 991px) and (min-width: 768px)
{.HS, .ME {width: 50%;} .DR {width: 100%;} }
/* mobile */
@media (max-width: 767px)
{.HS, .ME, .DR {width: 100%} }